<div class="dashboard-container">
  <div class="header-title">TICKETRUSH</div>
  <div class="main-content">
    <div class="content-wrapper">
      <div class="left-column">
        <div class="dashboard-section">
          <div class="dashboard-info">
            <h1 class="page-title">Dashboard</h1>
            <p class="page-description">Monitor the simulation in real-time and manage its progress.</p>
            <div class="simulation-controls">
              <div class="control-section">
                <div class="input-group">
                  <div class="input-container">
                    <label for="simTime" class="section-label">Simulation start time</label>
                    <p id="simTime" class="time-input"> {{ startTime | date: 'HH:mm:ss' }}
                    </p>
                  </div>
                </div>
                <h2 class="config-label">User configurations</h2>
                <div class="config-values">
                  Target Tickets: {{config.totalTicket}}<br />
                  Ticket Release Rate: {{config.ticketReleaseRate}}<br />
                  Ticket Retrieval Rate: {{config.consumerRetrievalRate}}<br />
                  Ticket Pool Capacity: {{config.ticketPoolCapacity}}
                  
                </div>
                <h2 class="stats-label">Current statistics</h2>
                <div class="stats-values">
                  Tickets in Pool: {{currentTickets}} <br />
                  Total Tickets Produced: {{ticketsProduced}} <br />
                  Total Tickets Consumed:{{ticketsConsumed}} <br />
                  Remaining Tickets: {{config.totalTicket - ticketsProduced}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-column">
        <div class="logs-section">
          <h2 class="section-label">Real-time Logs</h2>
          <div class="logs-container">
            <div class="logs-wrapper">
              <div class="logs-textarea"> @for(log of logs; track log){
                <p>{{ log }}</p>
              } </div>
            </div>
          </div>
          <button class="stop-button" (click)="stopSimulation()" aria-label="Stop simulation">
            <span class="stop-button-inner">Stop Simulation</span>
          </button>
          <a href="/showlogs">Show logs</a>
        </div>
      </div>
    </div>
  </div>
</div>